@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

::selection {
  background: #9696d8;
  color: #fff;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.content-wrapper,
.explore__content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

/* 

NAVBAR

*/

.navbar {
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
  height: 100px;
}

.logo {
  height: 40px;
  width: 150px;
  filter: brightness(0) saturate(100%) invert(46%) sepia(51%) saturate(4001%)
    hue-rotate(153deg) brightness(100%) contrast(101%);
}

.navlinks {
  display: flex;
  width: 100%;
  max-width: 430px;
}

.navlink {
  position: relative;
  color: #324b4d;
}

.navlink:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
  transition: all 250ms cubic-bezier(0.694, 0.048, 0.335, 1);
  background-color: #324b4d;
}

.navlink:hover:after {
  width: 100%;
  left: 0;
}

.router-link-active {
  color: #00adb5;
}

.router-link-active:after {
  background-color: #00adb5;
}

.btn-contact {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  padding: 12px 40px;
  border: 2px #00adb5;
  border-radius: 50px;
  color: #fff;
  background-color: #00adb5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 350ms ease;
}

.btn-contact:hover {
  background-color: #4dc5cb;
}

#mobile-nav {
  display: none;
  position: relative;
}

.bento-menu {
  width: 28px;
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 5px;
  cursor: pointer;
}

.bento-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00adb5;
}

.show-anim-in {
  animation: rotateToOne-bento-dot 0.3s;
  opacity: 1;
  border-radius: 0;
}

@keyframes rotateToOne-bento-dot {
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  80% {
    opacity: 0.8;
    transform: rotate(180deg) scale(0.8);
  }

  60% {
    opacity: 0.6;
    transform: rotate(1turn) scale(0.6);
  }

  40% {
    opacity: 0.4;
    transform: rotate(540deg) scale(0.4);
  }

  20% {
    opacity: 0.2;
    transform: rotate(2turn) scale(0.2);
  }

  0% {
    opacity: 0;
    transform: rotate(900deg) scale(0);
  }
}

.hide-anim-out {
  animation: rotateToZero-bento-dot 0.3s;
  opacity: 0;
  border-radius: 50%;
}

@keyframes rotateToZero-bento-dot {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  20% {
    opacity: 0.8;
    transform: rotate(180deg) scale(0.8);
  }

  40% {
    opacity: 0.6;
    transform: rotate(1turn) scale(0.6);
  }

  60% {
    opacity: 0.4;
    transform: rotate(540deg) scale(0.4);
  }

  80% {
    opacity: 0.2;
    transform: rotate(2turn) scale(0.2);
  }

  to {
    opacity: 0;
    transform: rotate(900deg) scale(0);
  }
}

.close-btn {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  z-index: 2000;
  cursor: pointer;
}

.close-btn.show:before,
.close-btn.show:after {
  width: 24px;
}

.close-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.25s ease-in-out 0.18s;
}

.close-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.25s ease-in-out 0.43s;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  top: 50%;
  left: 50%;
  background-color: #00adb5;
}

.showMenu {
  transform: translateX(100%);
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1005;
  background-color: hsla(0, 0%, 100%, 0.95);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showMenu.active {
  transform: translateX(0);
  opacity: 1;
}

.showMenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1005;
  background-color: hsla(0, 0%, 100%, 0.95);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  color: #00adb5;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  padding: 16px 0;
  position: relative;
}

/* 

  LANDING PAGE

*/

#landing-page {
  max-width: 100vw;
  padding: 10px 20px 0 20px;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.landing__title {
  font-size: 58px;
  max-width: 730px;
  font-weight: 700;
  line-height: 1.25;
  color: #00adb5;
  text-align: center;
  margin-bottom: 30px;
}

.landing__sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #324b4d;
  text-transform: uppercase;
  margin-bottom: 80px;
  text-align: center;
}

.landing__title--animation {
  animation: fade-up 1500ms 300ms backwards;
  width: 100%;
}

.landing__sub-title--animation {
  animation: fade-up 1500ms 600ms backwards;
  width: 100%;
}

.landing__input--animation {
  animation: fade-in 1500ms 1100ms backwards;
  width: 100%;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.landing__input {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #324b4d;
  color: #324b4d;
  display: inline-block;
  height: 4.375rem;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  font-size: 24px;
  padding-left: 24px;
}

.landing__input:focus {
  border: 2px solid #00adb5;
}

.btn-search {
  width: 200px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  transition: all 250ms ease;
}

.btn-search:active {
  transform: scale(0.95);
}

.not-loading {
  border: 1px solid #00adb5;
  background-color: #00adb5;
  cursor: pointer;
}

.not-loading:hover {
  border: 1px solid #9696d8;
  background-color: #9696d8;
}

.loading {
  background-color: #324b4d;
  cursor: no-drop;
}

.loading:hover {
  background-color: #000;
}

.search-icon,
.loading-icon {
  overflow: visible;
  width: 1em;
  display: none;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.not-loading .search-icon {
  display: inline-block;
}

.loading .loading-icon {
  display: inline-block;
}

.loading-icon {
  animation: rotate-spinner 1s linear infinite;
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.landing__img {
  max-width: max-content;
  bottom: 0px;
  height: 50vh;
  position: absolute;
}

.jinx__img {
  max-width: max-content;
  bottom: 0px;
  height: 50vh;
  position: absolute;
  display: none;
}

/* 

  EXPLORE

*/

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.explore__navbar {
  height: 326px;
  padding: 40px 15px;
  background-color: gray;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.explore__content-wrapper {
  margin-top: -20px;
  z-index: 1005;
}

.explore__navlink {
  position: relative;
  color: #fff;
}

.explore__navlink:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
  transition: all 250ms cubic-bezier(0.694, 0.048, 0.335, 1);
  background-color: #fff;
}

.explore__navlink:hover:after {
  width: 100%;
  left: 0;
}

.explore__bento-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.explore__title {
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 45px;
  max-width: 1000px;
  margin-bottom: 40px;
  color: #fff;
}

.explore__input-wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.explore__input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border: none;
}

.explore__input:focus {
  outline: none;
}

.search-wrapper {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 0 20px 0 8px;
  color: #00adb5;
  font-size: 32px;
  transition: all 0.2s ease;
}

.search-wrapper:hover {
  color: #9696d8;
}

.explore__search-icon {
  overflow: visible;
  width: 1em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.overlay {
  background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_28.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(97, 99, 160, 0.5);
  pointer-events: none;
}

.explore__logo {
  height: 40px;
  width: 150px;
  filter: brightness(0) saturate(100%) invert(1);
}

/* 

  SEARCH

*/

#search {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.progress-bar {
  height: 5px;
  overflow: hidden;
  transform: translateZ() scaleY(1);
  transform-origin: center center;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
}

.indeterminate {
  background-color: rgba(96, 48, 177, 0.38);
}

.progress-bar-track,
.progress-bar-track:after,
.progress-bar-fill,
.progress-bar-fill:after,
.progress-bar-buffer,
.progress-bar-buffer:after {
  width: 100%;
  height: 100%;
  position: absolute;
  will-change: transform;
}

.progress-bar-track {
  left: -150%;
  animation: b 2s linear infinite;
  transform-origin: top left;
}

.progress-bar-fill {
  left: -55%;
  animation: d 2s linear infinite;
  transform-origin: top left;
}

.progress-bar-buffer {
  transform-origin: top left;
}

.progress-bar-track:after,
.progress-bar-fill:after {
  background-color: #6030b1;
  display: inline-block;
  left: 0;
  content: " ";
}

.progress-bar-track:after {
  animation: c 2s linear infinite;
}

.progress-bar-fill:after {
  animation: e 2s linear infinite;
}

.progress-bar-buffer:after {
  display: inline-block;
  left: 0;
  content: " ";
}

@keyframes b {
  0% {
    transform: translateX(0);
  }

  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.7, 0.5);
    transform: translateX(0);
  }

  60% {
    animation-timing-function: cubic-bezier(0.3, 0.38, 0.55, 0.96);
    transform: translateX(83.67%);
  }

  to {
    transform: translateX(200.61%);
  }
}

@keyframes c {
  0% {
    transform: scaleX(0.08);
  }

  35% {
    animation-timing-function: cubic-bezier(0.33, 0.12, 0.79, 1);
    transform: scaleX(0.08);
  }

  70% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.66);
  }

  to {
    transform: scaleX(0.08);
  }
}

@keyframes d {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.52, 0.41);
    transform: translateX(0);
  }

  25% {
    animation-timing-function: cubic-bezier(0.31, 0.28, 0.8, 0.73);
    transform: translateX(37.65%);
  }

  50% {
    animation-timing-function: cubic-bezier(0.4, 0.63, 0.6, 0.9);
    transform: translateX(84.39%);
  }

  to {
    transform: translateX(160.28%);
  }
}

@keyframes e {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.52, 0.41);
    transform: scaleX(0.08);
  }

  20% {
    animation-timing-function: cubic-bezier(0.31, 0.28, 0.8, 0.73);
    transform: scaleX(0.46);
  }

  45% {
    animation-timing-function: cubic-bezier(0.4, 0.63, 0.6, 0.9);
    transform: scaleX(0.73);
  }

  to {
    transform: scaleX(0.08);
  }
}

@media (max-height: 1200px) {
  #landing-page {
    max-height: none;
  }

  .landing__title {
    font-size: 50px;
  }

  .landing__sub-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .navlinks {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}

@media (max-width: 1024px) {
  .landing__img {
    display: none;
  }

  .jinx__img {
    display: block;
  }
}

@media (max-width: 680px) {
  .jinx__img {
    display: none;
  }
}

@media (max-width: 585px) {
  .landing__title,
  .landing__sub-title {
    text-align: left;
  }

  .input-wrapper {
    flex-direction: column;
  }

  .landing__input {
    font-size: 16px;
    height: 60px;
    padding-left: 8px;
  }

  .btn-search {
    max-width: none;
    width: 100%;
    margin: 20px 0 0 0px;
  }

  .landing__img {
    display: none;
  }
}
