@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* 

  NAVBAR

*/

.navbar {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  font-size: 1.125rem;
  font-weight: 600;
  height: 6.25rem;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 2.5rem;
  width: 9.375rem;
}

.navlinks {
  display: flex;
  width: 100%;
  max-width: 26.875rem;
}

.navlink {
  position: relative;
  color: #222831;
}

.navlink:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
  transition: all 250ms cubic-bezier(0.694, 0.048, 0.335, 1);
  background-color: #222831;
}

.navlink:hover:after {
  width: 100%;
  left: 0;
}

.router-link-active {
  color: #00adb5;
}

.router-link-active:after {
  background-color: #00adb5;
}

.btn-contact {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  padding: 0.75rem 2.5rem;
  border: 2px #00adb5;
  border-radius: 3.125rem;
  color: #eee;
  background-color: #00adb5;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 350ms ease;
}

.btn-contact:hover {
  background-color: #4dc5cb;
}
